.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  margin-top: 40px;
  border-top: 1px solid #e7e7e7;
}

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.3);
}
.navigation nav {
  background: #EE6500;
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  border-radius: 100px 100px 0 0;
}
.navigation nav a {
  color: #000;
  text-decoration: none;
  margin: 0 20px;
  font-weight: 500;
  transition: color 0.3s, transform 0.3s;
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
}
.navigation nav a:hover {
  color: #FFFF00;
  transform: scale(1.1);
}
.navigation nav .logo img {
  max-height: 4rem;
}
@media (max-width: 768px) {
  .navigation nav {
    padding: 0.75rem;
  }
  .navigation nav a {
    font-size: 0.9rem;
    margin: 0 10px;
  }
}

.select-language {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  width: auto;
  display: block;
  margin: 1rem 1rem;
}

.language-flags span {
  margin-right: 0.5rem;
  display: inline-block;
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.map .challenge-config {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 5px;
  z-index: 1;
  width: 200px;
  height: 100px;
  font-size: 12px;
}
.map .game-map-svg .selected-circle {
  fill: red;
}
.map .game-map-svg .unselected-circle {
  fill: yellow;
}

.challenge .multiple-choice-options {
  border: 1px solid #ff8c00;
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0px 4px 8px rgba(255, 165, 0, 0.2);
}
.challenge .multiple-choice-options .multiple-choice-option {
  display: block;
  padding: 10px;
  margin: 10px 0;
  background-color: #ffedd5;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  user-select: none;
}
.challenge .multiple-choice-options .multiple-choice-option:hover {
  background-color: #ffc107;
}
.challenge .multiple-choice-options .multiple-choice-option input[type=radio] {
  display: none;
}
.challenge .multiple-choice-options .multiple-choice-option input[type=radio]:checked + span {
  background-color: #ff5722;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}
.challenge .multiple-choice-options .multiple-choice-option span {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: #ffedd5;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes glowingBorder {
  0% {
    box-shadow: 0 0 5px #ff5f6d;
  }
  50% {
    box-shadow: 0 0 20px #ffc371;
  }
  100% {
    box-shadow: 0 0 5px #ff5f6d;
  }
}
.progress-container {
  width: 100%;
  background-color: #eee;
  border-radius: 1em;
  overflow: hidden;
}

.progress-bar {
  height: 2em;
  line-height: 2rem;
  color: black;
  text-align: center;
  transition: width 0.4s ease;
  animation: intenseMoveGradient 3s linear infinite, glowingBorder 3s infinite alternate;
  background: linear-gradient(90deg, #ff0000, #ff7f00, #ffbf00, #ffff00);
  background-size: 200% 100%;
}

.challenge-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
}
.challenge-page h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}
.challenge-page p {
  font-size: 1em;
  color: #666;
}

.challenge-page .question {
  font-size: 1.5em;
  border: 1px solid #ff8c00;
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0px 4px 8px rgba(255, 165, 0, 0.2);
}
.challenge-page .question h2 {
  font-size: 0.5em;
  text-align: left;
}

.challenge-page .challenge-actions {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}
.challenge-page .challenge-actions button {
  padding: 10px 20px;
  margin: 10px;
}
