@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&family=Merriweather:wght@300;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
@import url("https://unpkg.com/intro.js/introjs.css");
body {
  margin: 0;
  padding: 0 0 70px;
  font-family: "Merriweather", serif;
  background-size: cover;
  background-position: center;
}

h1,
h2,
h3 {
  line-height: 1.1;
}
h1.h1,
h2.h1,
h3.h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
h1.h2,
h2.h2,
h3.h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
h1.h3,
h2.h3,
h3.h3 {
  font-size: 2rem;
  font-weight: 400;
}

button {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(45deg, #ff7e00, #ffbb00);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(255, 123, 0, 0.3); /* Orange shadow for consistency with the button color */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: linear-gradient(45deg, #e56d00, #ffac1d);
  box-shadow: 0px 15px 20px rgba(255, 123, 0, 0.5);
  transform: translateY(-5px);
}

button:active {
  transform: translateY(-2px);
}

.challenge-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
}
.challenge-page h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}
.challenge-page p {
  font-size: 1em;
  color: #666;
}

.challenge-page .challenge-actions {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}
.challenge-page .challenge-actions button {
  padding: 10px 20px;
  margin: 10px;
}

.challenge-result h2 {
  font-size: 0.5em;
  text-align: left;
}
.challenge-result ul {
  list-style-type: none;
  padding: 0;
}
.challenge-result ul li {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.challenge-result ul li .result-correct {
  background-color: #d4edda;
  color: #155724;
}
.challenge-result ul li .result-correct::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  color: #28a745;
}
.challenge-result ul li .result-incorrect {
  background-color: #f8d7da;
  color: #721c24;
}
.challenge-result ul li .result-incorrect::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  color: #dc3545;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  margin-top: 40px;
  border-top: 1px solid #e7e7e7;
}

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.3);
}
.navigation .tour-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  left: 25%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}
.navigation nav {
  background: #EE6500;
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  border-radius: 100px 100px 0 0;
}
.navigation nav a {
  color: #000;
  text-decoration: none;
  margin: 0 20px;
  font-weight: 500;
  transition: color 0.3s, transform 0.3s;
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
}
.navigation nav a:hover {
  color: #FFFF00;
  transform: scale(1.1);
}
.navigation nav .logo img {
  max-height: 4rem;
}
@media (max-width: 768px) {
  .navigation nav {
    padding: 0.75rem;
  }
  .navigation nav .logo img {
    max-height: 2rem;
  }
  .navigation nav a {
    font-size: 0.9rem;
    margin: 0 10px;
  }
}

.map-page {
  text-align: center;
}

.map {
  border: 1px solid black;
  border-radius: 5px;
}
.map .challenge-config {
  color: whitesmoke;
  padding: 1rem;
  background-color: rgba(128, 128, 128, 0.95);
  border-radius: 5px;
  z-index: 1;
  font-size: 1rem;
  transform: translate(-50%, 0);
}
.map .game-map-svg .selected-circle {
  fill: red;
}
.map .game-map-svg .unselected-circle:hover {
  fill: orange;
}
.map .game-map-svg text {
  pointer-events: none;
}
.map .game-map-svg .unselected-circle {
  fill: yellow;
}

.multiple-choice .question {
  font-size: 1.5em;
  border: 1px solid #ff8c00;
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(255, 165, 0, 0.2);
}
.multiple-choice .question h2 {
  font-size: 0.5em;
  text-align: left;
}
.multiple-choice .question .fas {
  font-size: 3em;
  margin: 20px 0;
  color: #333;
}

@font-face {
  font-family: "Star Trek Future";
  src: url("assets/Startrekfuture-EK6e.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Monaz 3D Demo";
  src: url("assets/Monaz3DDemoRuderight-m2WZj.otf") format("opentype");
  font-weight: 400;
}
.multiple-choice-circle .multiple-choice-options {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px auto;
}
.multiple-choice-circle .multiple-choice-options .multiple-choice-option {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  font-family: "Monaz 3D Demo", serif;
  font-weight: 400;
  font-size: 1.4rem;
}
.multiple-choice-circle .multiple-choice-options .multiple-choice-option input {
  display: none;
}
.multiple-choice-circle .multiple-choice-options .multiple-choice-option label {
  cursor: pointer;
  background-color: #ff8c00;
  color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.multiple-choice-circle .multiple-choice-options .multiple-choice-option:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
.multiple-choice-circle .multiple-choice-options .multiple-choice-option:nth-child(3) label {
  background-color: #21b0fe;
}
.multiple-choice-circle .multiple-choice-options .multiple-choice-option:nth-child(1) {
  top: 10%;
  left: 0;
}
.multiple-choice-circle .multiple-choice-options .multiple-choice-option:nth-child(1) label {
  background-color: #fe218b;
}
.multiple-choice-circle .multiple-choice-options .multiple-choice-option:nth-child(2) {
  top: 10%;
  right: 0;
}
.multiple-choice-circle .multiple-choice-options .multiple-choice-option:nth-child(2) label {
  background-color: #fed700;
}
.multiple-choice-circle .question {
  color: black;
  position: absolute;
  width: 200px;
  height: 200px;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  border: none;
  z-index: 10;
  pointer-events: none;
  transform: translate(-50%, 0);
  top: 35%;
  left: 50%;
}
.multiple-choice-circle .question h2 {
  display: none;
}
.multiple-choice-circle .question p {
  font-family: "Star Trek Future", serif;
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
.multiple-choice-circle .question .help p {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
.multiple-choice-circle .question .fas {
  font-size: 3em;
  margin: 20px 0;
  color: #333;
}

.challenge .multiple-choice-options {
  border: 1px solid #ff8c00;
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(255, 165, 0, 0.2);
}
.challenge .multiple-choice-options .multiple-choice-option {
  display: block;
  padding: 10px;
  margin: 10px 0;
  background-color: #ffedd5;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  user-select: none;
}
.challenge .multiple-choice-options .multiple-choice-option:hover {
  background-color: #ffc107;
}
.challenge .multiple-choice-options .multiple-choice-option input[type=radio] {
  display: none;
}
.challenge .multiple-choice-options .multiple-choice-option input[type=radio]:checked + span {
  background-color: #ff5722;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}
.challenge .multiple-choice-options .multiple-choice-option span {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: #ffedd5;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-points {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  background-color: #f0f8ff;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #007bff;
  z-index: 1000;
}
.profile-points .icon {
  margin-right: 5px;
  font-size: 1.2rem;
}
.profile-points .points {
  font-size: 1rem;
}
.profile-points:hover {
  background-color: #e6f7ff;
}

@keyframes glowingBorder {
  0% {
    box-shadow: 0 0 5px #ff5f6d;
  }
  50% {
    box-shadow: 0 0 20px #ffc371;
  }
  100% {
    box-shadow: 0 0 5px #ff5f6d;
  }
}
.progress-container {
  width: 100%;
  background-color: #eee;
  border-radius: 1em;
  overflow: hidden;
}

.progress-bar {
  height: 2em;
  line-height: 2rem;
  color: black;
  text-align: center;
  transition: width 0.4s ease;
  animation: intenseMoveGradient 3s linear infinite, glowingBorder 3s infinite alternate;
  background: linear-gradient(90deg, #ff0000, #ff7f00, #ffbf00, #ffff00);
  background-size: 200% 100%;
}

.result-summary {
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
}
.result-summary h2 {
  font-size: 0.5em;
  text-align: left;
}

.select-language {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  width: auto;
  display: block;
  margin: 1rem 1rem;
}

.language-flags span {
  margin-right: 0.5rem;
  display: inline-block;
}

.sidenav {
  background-color: #f1f1f1;
  height: 100%;
  overflow-x: hidden;
  padding-top: 100px;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 1;
}
.sidenav.open {
  width: 250px;
}
.sidenav .logo img {
  width: 5rem;
}
.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: #111;
  color: white;
  border: none;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 2;
  padding: 10px 15px;
  transition: 0.3s;
}

.closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  cursor: pointer;
  background: none;
  border: none;
  color: #111;
}

@keyframes blink {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}
.about-page {
  text-align: center;
  padding: 2rem;
}

.profile-page {
  text-align: center;
  padding: 2rem;
}

.profile-config h2 {
  visibility: hidden;
}
