@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&family=Merriweather:wght@300;400;700&display=swap");
body {
  margin: 0;
  padding: 0 0 70px;
  font-family: "Merriweather", serif;
  background-size: cover;
  background-position: center;
}

h1,
h2,
h3 {
  line-height: 1.1;
}
h1.h1,
h2.h1,
h3.h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
h1.h2,
h2.h2,
h3.h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
h1.h3,
h2.h3,
h3.h3 {
  font-size: 2rem;
  font-weight: 400;
}

button {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(45deg, #ff7e00, #ffbb00);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(255, 123, 0, 0.3); /* Orange shadow for consistency with the button color */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: linear-gradient(45deg, #e56d00, #ffac1d);
  box-shadow: 0px 15px 20px rgba(255, 123, 0, 0.5);
  transform: translateY(-5px);
}

button:active {
  transform: translateY(-2px);
}

.challenge-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
}
.challenge-page h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}
.challenge-page p {
  font-size: 1em;
  color: #666;
}

.challenge-page .question {
  font-size: 1.5em;
  border: 1px solid #ff8c00;
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0px 4px 8px rgba(255, 165, 0, 0.2);
}
.challenge-page .question h2 {
  font-size: 0.5em;
  text-align: left;
}

.challenge-page .challenge-actions {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}
.challenge-page .challenge-actions button {
  padding: 10px 20px;
  margin: 10px;
}

.challenge-result h2 {
  font-size: 0.5em;
  text-align: left;
}
.challenge-result ul {
  list-style-type: none;
  padding: 0;
}
.challenge-result ul li {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.challenge-result ul li .result-correct {
  background-color: #d4edda;
  color: #155724;
}
.challenge-result ul li .result-correct::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  color: #28a745;
}
.challenge-result ul li .result-incorrect {
  background-color: #f8d7da;
  color: #721c24;
}
.challenge-result ul li .result-incorrect::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  color: #dc3545;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  margin-top: 40px;
  border-top: 1px solid #e7e7e7;
}

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.3);
}
.navigation nav {
  background: #EE6500;
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  border-radius: 100px 100px 0 0;
}
.navigation nav a {
  color: #000;
  text-decoration: none;
  margin: 0 20px;
  font-weight: 500;
  transition: color 0.3s, transform 0.3s;
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
}
.navigation nav a:hover {
  color: #FFFF00;
  transform: scale(1.1);
}
.navigation nav .logo img {
  max-height: 4rem;
}
@media (max-width: 768px) {
  .navigation nav {
    padding: 0.75rem;
  }
  .navigation nav a {
    font-size: 0.9rem;
    margin: 0 10px;
  }
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.map .challenge-config {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 5px;
  z-index: 1;
  width: 200px;
  height: 100px;
  font-size: 12px;
}
.map .game-map-svg .selected-circle {
  fill: red;
}
.map .game-map-svg .unselected-circle {
  fill: yellow;
}

.challenge .multiple-choice-options {
  border: 1px solid #ff8c00;
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0px 4px 8px rgba(255, 165, 0, 0.2);
}
.challenge .multiple-choice-options .multiple-choice-option {
  display: block;
  padding: 10px;
  margin: 10px 0;
  background-color: #ffedd5;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  user-select: none;
}
.challenge .multiple-choice-options .multiple-choice-option:hover {
  background-color: #ffc107;
}
.challenge .multiple-choice-options .multiple-choice-option input[type=radio] {
  display: none;
}
.challenge .multiple-choice-options .multiple-choice-option input[type=radio]:checked + span {
  background-color: #ff5722;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}
.challenge .multiple-choice-options .multiple-choice-option span {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: #ffedd5;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes glowingBorder {
  0% {
    box-shadow: 0 0 5px #ff5f6d;
  }
  50% {
    box-shadow: 0 0 20px #ffc371;
  }
  100% {
    box-shadow: 0 0 5px #ff5f6d;
  }
}
.progress-container {
  width: 100%;
  background-color: #eee;
  border-radius: 1em;
  overflow: hidden;
}

.progress-bar {
  height: 2em;
  line-height: 2rem;
  color: black;
  text-align: center;
  transition: width 0.4s ease;
  animation: intenseMoveGradient 3s linear infinite, glowingBorder 3s infinite alternate;
  background: linear-gradient(90deg, #ff0000, #ff7f00, #ffbf00, #ffff00);
  background-size: 200% 100%;
}

.result-summary {
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
}
.result-summary h2 {
  font-size: 0.5em;
  text-align: left;
}

.select-language {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  width: auto;
  display: block;
  margin: 1rem 1rem;
}

.language-flags span {
  margin-right: 0.5rem;
  display: inline-block;
}
