@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $large-padding;
  margin: $large-padding * 2 auto 0;

  .logo img {
    width: 5rem;
  }
}

@media (min-width: 768px) {
  .about-page {
    margin-top: $large-padding;
  }
}
