@use "sass:map";
@use "../abstracts/type" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.home-page {
  text-align: center;
  background-color: $footer-background-color;
  font-family: map.get($font-families, 'secondary');
  margin-top: $small-padding;

  .speech-bubble {
    margin-top: $small-padding;
    margin-bottom: $large-padding;
  }
}

@media (min-width: 768px) {
  .home-page {
    margin-top: $large-padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}