@use "sass:map";
@use "../abstracts/type" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.leaderboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $large-padding;
  background-color: $background-primary;
  color: $primary-color;
  font-family: $ff-monaz, serif;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: $primary-color;
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 2rem;
    }
  }
}
