// styles/pages/_leaderboard-page.scss
@use "../abstracts" as *;
@use "../layouts" as *;
@use "../atoms/typography" as *;

.leaderboard-page {
    @include page-layout;
    @include centered-content;

    &__content {
        @include card;
        max-width: 800px;
        width: 100%;
    }

    h1 {
        @include material-typography("h3");
        color: material-color("primary");
        margin-bottom: $medium-padding;
    }

    @include respond-to("small") {
        h1 {
            @include material-typography("h4");
            margin-bottom: $small-padding;
        }
    }
}
