// styles/pages/_map_page.scss
@use "../abstracts" as *;
@use "../layouts" as *;
@use "../atoms/typography" as *;

.map-page {
    @include standard-page-layout;

    &__content {
        @include card;
        max-width: 1200px;
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
    }

    h1 {
        @include material-typography("h4");
        color: material-color("primary");
        margin-bottom: $medium-padding;
    }

    @include respond-to("small") {
        h1 {
            @include material-typography("h5");
            margin-bottom: $small-padding;
        }
    }
}
