@use "../abstracts" as *;
@use "../layouts" as *;
@use "../atoms/typography" as *;
@use "../atoms/input" as *;

.marketplace-page {
    @include standard-page-layout;

    &__content {
        @include card;
        max-width: 800px;
        width: 100%;
    }

    .cart-badge {
        position: fixed;
        top: $large-padding;
        left: $large-padding;
    }

    .search-container {
        width: 100%;
        max-width: 600px;
        position: relative;
        margin-bottom: $large-padding;

        input[type="text"] {
            @include input-primary;
            width: 100%;
        }

        .suggestion {
            @include card;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: material-color("surface");
            color: material-color("on-surface");
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: material-color("surface-variant");
            }
        }
    }
}
