// styles/pages/_profile-page.scss

.profile-page {
    @include standard-page-layout;

    &__content {
        @include card;
        max-width: 800px;
    }

    .profile-box {
        margin-bottom: $large-padding;
    }

    .profile-config {
        display: flex;
        justify-content: center;
        gap: $medium-padding;

        h2 {
            @include visually-hidden;
        }
    }
}
