@use "../abstracts" as *;
@use "../abstracts/variables" as *;

.profile-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: $large-padding;
  align-items: center;

  .profile-config {
    h2 {
      display: none;
    }

    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
