// styles/pages/_results-page.scss

.results-page {
    @include standard-page-layout;

    &__content {
        @include card;
        max-width: 600px;
    }

    p {
        @include material-typography("body1");
        color: material-color("on-surface");
        margin-bottom: $small-padding;
    }
}
