// styles/pages/_results-page.scss
@use "../abstracts" as *;
@use "../layouts" as *;
@use "../atoms/typography" as *;

.results-page {
    @include standard-page-layout;

    &__content {
        @include card;
        max-width: 600px;
    }

    h1 {
        @include material-typography("h3");
        color: material-color("primary");
        margin-bottom: $medium-padding;
    }

    p {
        @include material-typography("body1");
        color: material-color("on-surface");
        margin-bottom: $small-padding;
    }
}
