@use "../abstracts" as *;

.search-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: $large-padding;
    align-items: center;
    gap: $large-padding;

    .search-container {
        width: 100%;
        max-width: 600px;
        position: relative;
        margin-bottom: $large-padding;

        input[type="text"] {
            width: 100%;
            padding: 12px 20px;
            font-size: font-size("400");
            border: 2px solid color("secondary");
            border-radius: $large-border-radius;
            outline: none;
            transition: border-color 0.3s ease;

            &:focus {
                border-color: color("primary");
            }
        }

        .suggestion {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: color("background-primary");
            border: 1px solid color("secondary");
            border-top: none;
            border-radius: 0 0 $large-border-radius $large-border-radius;
            padding: $small-padding;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: color("secondary-light");
            }
        }
    }

    @include respond-to("small") {
        padding: $small-padding;

        .search-container {
            input[type="text"] {
                font-size: font-size("300");
                padding: $small-padding;
            }

            .suggestion {
                padding: $small-padding * 0.5;
            }
        }
    }
}
