// styles/pages/_settings-page.scss
@use "../abstracts" as *;
@use "../layouts" as *;

.settings-page {
    @include standard-page-layout;

    &__content {
        @include card;
        max-width: 800px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $medium-padding;
    }
}
