@use "sass:map";

$custom-colors: (
    "secondary-light": theme-color("secondary-color-light"),
    "error": theme-color("error-color"),
    "error-bg": theme-color("error-bg"),
    "success-bg": theme-color("success-bg"),
    "incorrect-bg": theme-color("incorrect-bg"),
    "footer-border": theme-color("footer-border-color"),
    "button-gradient-start": theme-color("button-gradient-start"),
    "button-gradient-end": theme-color("button-gradient-end"),
    "button-hover-start": theme-color("button-hover-start"),
    "button-hover-end": theme-color("button-hover-end"),
    "sidenav-background": theme-color("sidenav-background"),
    "sidenav-text": theme-color("sidenav-text"),
    "openbtn-background": theme-color("openbtn-background"),
    "openbtn-color": theme-color("openbtn-color"),
    "closebtn-color": theme-color("closebtn-color"),
    "night-shadow": theme-color("night-shadow-color"),
    "map": theme-color("map-color"),
    "active-pointer": theme-color("active-pointer-color"),
    "paper-gradient-start": theme-color("paper-gradient-start"),
    "paper-gradient-end": theme-color("paper-gradient-end"),
    "star-full": theme-color("star-full"),
    "star-empty": theme-color("star-empty"),
    "input-border": theme-color("input-border"),
    "button-primary-hover": theme-color("button-primary-hover"),
    "text-success": theme-color("text-success"),
);

$colors: map.merge($colors, $custom-colors) !global;

$material-colors: (
    "primary": theme-color("material-primary"),
    "primary-variant": theme-color("material-primary-variant"),
    "secondary": theme-color("material-secondary"),
    "secondary-variant": theme-color("material-secondary-variant"),
    "background": theme-color("material-background"),
    "surface": theme-color("material-surface"),
    "error": theme-color("material-error"),
    "on-primary": theme-color("material-on-primary"),
    "on-secondary": theme-color("material-on-secondary"),
    "on-background": theme-color("material-on-background"),
    "on-surface": theme-color("material-on-surface"),
    "on-error": theme-color("material-on-error"),
);

@function material-color($key) {
    @return map-get($material-colors, $key);
}
