@mixin position-absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin full-size {
    max-width: 100%;
    max-height: 100%;
}

@mixin respond-to($breakpoint) {
    @if $breakpoint == "small" {
        @include gls-breakpoint(max, small) {
            @content;
        }
    } @else if $breakpoint == "medium" {
        @include gls-breakpoint(max, medium) {
            @content;
        }
    } @else if $breakpoint == "large" {
        @include gls-breakpoint(max, large) {
            @content;
        }
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    gap: spacing("2");

    @include respond-to("small") {
        gap: spacing("1");
    }
}

@mixin mobile-container {
    @include respond-to("small") {
        padding: spacing("1");
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }
}
