@mixin light-theme {
    --background-primary: #f5f5f5;
    --text-primary: #121212;
    --primary-color: #6200ea;
    --secondary-color: #f8f9fa;
    --secondary-color-light: #fafbfc;
    --tertiary-color: #f1f3f5;
    --quaternary-color: #093276;
    --dark-color: #343a40;
    --light-color: #f8f9fa;
    --danger-color: #dc3545;
    --warning-color: #ee6500;
    --info-color: #17a2b8;
    --hover-color: #7b61ff;
    --active-color: #5642a6;
    --error-color: #721c24;
    --error-bg: #f8d7da;
    --success-color: #4caf50;
    --success-bg: #d4edda;
    --incorrect-bg: #f8d7da;
    --footer-background-color: #f8f9fa;
    --footer-border-color: #e7e7e7;
    --button-gradient-start: #ff7e00;
    --button-gradient-end: #ffbb00;
    --button-hover-start: #e56d00;
    --button-hover-end: #ffac1d;
    --sidenav-background: #f1f1f1;
    --sidenav-text: #818181;
    --openbtn-background: #111;
    --openbtn-color: #fff;
    --closebtn-color: #111;
    --map-color: #17b9ff;
    --active-pointer-color: #d90429;
    --paper-gradient-start: #faf3e0;
    --paper-gradient-end: #f2e0c9;
}

@mixin dark-theme {
    --background-primary: #121212;
    --text-primary: #f5f5f5;
    --primary-color: #f7f0ff;
    --secondary-color: #121212;
    --secondary-color-light: #1e1e1e;
    --tertiary-color: #1e1e1e;
    --quaternary-color: #17b9ff;
    --dark-color: #f8f9fa;
    --night-shadow-color: #37424e;
    --light-color: #353b41;
    --danger-color: #ffffff;
    --warning-color: #ffb74d;
    --info-color: #03dac6;
    --hover-color: #e7b9ff;
    --active-color: #7b61ff;
    --error-color: #cf6679;
    --error-bg: #1e1e1e;
    --success-color: #c7e6c8;
    --success-bg: #133415;
    --incorrect-bg: #1e1e1e;
    --footer-background-color: #121212;
    --footer-border-color: #373737;
    --button-gradient-start: #ff7e00;
    --button-gradient-end: #ffbb00;
    --button-hover-start: #e56d00;
    --button-hover-end: #ffac1d;
    --sidenav-background: #2c2c2c;
    --sidenav-text: #dcdcdc;
    --openbtn-background: #444;
    --openbtn-color: #fff;
    --closebtn-color: #fff;
    --map-color: #093276;
    --active-pointer-color: #d90429;
    --paper-gradient-start: #1e1e1e;
    --paper-gradient-end: #2c2c2c;
}

@mixin star-theme {
    --background-primary: #f0f4c3;
    --text-primary: #3e2723;
    --primary-color: #ffcc80;
    --secondary-color: #ffe0b2;
    --secondary-color-light: #fff0d1;
    --tertiary-color: #ffab91;
    --quaternary-color: #81d4fa;
    --dark-color: #ffffff;
    --night-shadow-color: #b39ddb;
    --light-color: #ffeb3b;
    --danger-color: #e57373;
    --warning-color: #ffb74d;
    --info-color: #4fc3f7;
    --hover-color: #ffccbc;
    --active-color: #d1c4e9;
    --error-color: #ef9a9a;
    --error-bg: #f8bbd0;
    --success-color: #a5d6a7;
    --success-bg: #e8f5e9;
    --incorrect-bg: #f3e5f5;
    --footer-background-color: #d7ccc8;
    --footer-border-color: #a1887f;
    --button-gradient-start: #ff8a80;
    --button-gradient-end: #ff80ab;
    --button-hover-start: #ff5252;
    --button-hover-end: #ff4081;
    --sidenav-background: #e1bee7;
    --sidenav-text: #4e342e;
    --openbtn-background: #7e57c2;
    --openbtn-color: #ffffff;
    --closebtn-color: #4e342e;
    --map-color: #64b5f6;
    --active-pointer-color: #ff0101;
    --paper-gradient-start: #f0f4c3;
    --paper-gradient-end: #f8bbd0;
}
