// global tokens
$-ff-tangerine: "Tangerine", cursive;
$-ff-merriweather: "Merriweather", serif;

// variables & utils
$font-families: (
  "primary": $-ff-tangerine,
  "secondary": $-ff-merriweather,
);

@font-face {
  font-family: 'Star Trek Future';
  src: url('assets/Startrekfuture-EK6e.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Monaz 3D Demo';
  src: url('assets/Monaz3DDemoRuderight-m2WZj.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Ballonku';
  src: url('assets/BalonkuRegular-la1w.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Starlight';
  src: url('assets/Starlight-P1Dg.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
    font-family: 'AlphaClouds';
    src: url('assets/AlphaClouds.ttf') format('truetype');
    font-weight: 400;
}

$font-sizes: (
  "300": 0.875rem,
  "400": 1rem,
  "500": 1.25rem,
  "600": 1.5rem,
  "700": 2rem,
  "800": 2.5rem,
  "900": 3.5rem,
);

$font-weights: (
  "light": 300,
  "regular": 400,
  "bold": 700,
);
