@mixin light-theme {
    --background-primary: #f5f5f5;
    --text-primary: #262626;
    --text-secondary: #595959;
    --primary-color: #ff8c00;
    --secondary-color: #8a2be2;
    --secondary-color-light: #a366ff;
    --tertiary-color: #808080;
    --quaternary-color: #093276;
    --dark-color: #343a40;
    --light-color: #f8f9fa;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --hover-color: #ff9e22;
    --active-color: #e67e00;
    --error-color: #721c24;
    --error-bg: #f8d7da;
    --success-color: #28a745;
    --success-bg: #d4edda;
    --incorrect-bg: #f8d7da;
    --footer-background-color: #f8f9fa;
    --footer-border-color: #e7e7e7;
    --button-gradient-start: #ff7e00;
    --button-gradient-end: #ffbb00;
    --button-hover-start: #e56d00;
    --button-hover-end: #ffac1d;
    --sidenav-background: #f1f1f1;
    --sidenav-text: #818181;
    --openbtn-background: #111;
    --openbtn-color: #fff;
    --closebtn-color: #111;
    --map-color: #17b9ff;
    --active-pointer-color: #d90429;
    --paper-gradient-start: #faf3e0;
    --paper-gradient-end: #f2e0c9;
    --light-background: #f9f9f9;
    --border-color: #e0e0e0;
    --star-full: gold;
    --star-empty: lightgray;
    --input-border: #ccc;
    --button-primary: #007bff;
    --button-primary-hover: #0056b3;
    --button-disabled: #6c757d;
    --button-text: #ffffff;
    --text-success: #28a745;
    --material-primary: #6200ee;
    --material-primary-variant: #3700b3;
    --material-secondary: #03dac6;
    --material-secondary-variant: #018786;
    --material-background: #fff5eb;
    --material-surface: #fff9f2;
    --material-error: #b00020;
    --material-on-primary: #ffffff;
    --material-on-secondary: #000000;
    --material-on-background: #000000;
    --material-on-surface: #000000;
    --material-on-error: #ffffff;
}
