// styles/components/_certificate.scss

.certificate {
    @include card;
    margin-top: spacing("xl");
    color: color("text-primary");

    &__title {
        @include heading(2);
        font-family: font("certificate-heading");
        color: color("primary");
    }

    &__details {
        margin-bottom: spacing("xl");
    }

    &__info {
        @include body-text("md");
        font-family: font("certificate");
        margin: spacing("sm") 0;
    }

    &__verification {
        display: flex;
        align-items: center;
        margin-top: spacing("sm");
        padding: spacing("sm");
        border-radius: border-radius("sm");
        font-family: font("info");
        @include text-style("sm", "regular");

        &-icon {
            margin-right: spacing("sm");
            @include text-style("md");
        }

        &--verified {
            background-color: color("success-bg");
            color: color("success");
        }

        &--not-verified {
            background-color: color("error-bg");
            color: color("error");
        }
    }

    &__share {
        margin-top: spacing("xl");
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__share-input {
        width: 100%;
        padding: spacing("sm");
        @include text-style("md");
        border: 1px solid color("secondary");
        border-radius: border-radius("sm");
        margin-bottom: spacing("sm");
        text-align: center;

        &:focus {
            outline: none;
            border-color: color("primary");
        }
    }

    &__share-message {
        margin-top: spacing("sm");
        @include text-style("sm", "regular", "success");
    }
}

@include respond-to("small") {
    .certificate {
        &__title {
            @include heading(3);
        }

        &__info {
            @include body-text("sm");
        }

        &__share-input {
            @include text-style("sm");
        }
    }
}
