@use "../abstracts" as *;
@use "../atoms/button" as *;

.challenge-finished {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: spacing("lg");
    text-align: center;
    gap: spacing("sm");

    @keyframes jump {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-#{spacing("lg")});
        }
        60% {
            transform: translateY(-#{spacing("sm")});
        }
    }

    a button {
        @include button-material;
        animation: jump 3s infinite;
        &:hover {
            background-color: material-color("primary-variant");
        }
    }
}
