@use "sass:map";
@use "../abstracts/type" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.challenge-review-component {
  font-size: map.get($font-sizes, '500');
  font-weight: map.get($font-weights, 'regular');
  border: 1px solid $footer-border-color;
  border-radius: $small-border-radius;
  padding: $small-padding;

  .selected-star {
    color: gold;
    cursor: pointer;
  }

  .empty-star {
    color: lightgray;
    cursor: pointer;
  }

  input[type="text"] {
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1em;
  }

  button[disabled] {
    background-color: grey;
    cursor: not-allowed;
  }
}
