@use "../abstracts" as *;

.challenge-result {
    text-align: center;
    padding: $large-padding;
    background-color: color("background-primary");
    border-radius: $large-border-radius;
    box-shadow: 0 10px 20px rgba(color("dark"), 0.1);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        background-color: color("success-bg");
        filter: brightness(0.95);
    }

    h2 {
        font-family: font("heading");
        font-size: font-size("800");
        color: color("primary");
        margin-bottom: $large-padding;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 3px;
            background-color: color("primary");
            transition: width 0.3s ease;
        }

        &:hover::after {
            width: 100px;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            padding: $medium-padding;
            margin-bottom: $medium-padding;
            border-radius: $medium-border-radius;
            font-family: font("primary");
            font-size: font-size("500");
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }

            .result-correct,
            .result-incorrect {
                display: flex;
                align-items: center;
                padding: $medium-padding;
                border-radius: $medium-border-radius;
                transition: background-color 0.3s ease;

                &::before {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    margin-right: $medium-padding;
                    font-size: font-size("600");
                }
            }

            .result-correct {
                background-color: color("success-bg");
                color: color("success");

                &::before {
                    content: "\f00c";
                    color: color("success");
                }

                &:hover {
                    background-color: color("success-bg");
                    filter: brightness(0.95);
                }
            }

            .result-incorrect {
                background-color: color("error-bg");
                color: color("error");

                &::before {
                    content: "\f00d";
                    color: color("danger");
                }

                &:hover {
                    background-color: color("error-bg");
                    filter: brightness(0.95);
                }
            }
        }
    }

    @include respond-to("small") {
        padding: $medium-padding;

        h2 {
            font-size: font-size("700");
        }

        ul li {
            font-size: font-size("400");
            padding: $small-padding;
        }
    }
}
