.challenge-rating {
    display: inline-flex;
    align-items: center;
    font-size: font-size("400");
    background-color: rgba(color("warning"), 0.1);
    padding: $small-padding $medium-padding;
    border-radius: $small-border-radius;
    transition: all 0.3s ease;

    &:hover {
        background-color: rgba(color("warning"), 0.2);
        transform: scale(1.05);
    }

    .star-symbol {
        color: color("warning");
        font-size: font-size("500");
        margin-right: $small-padding * 0.5;
        transition: transform 0.3s ease;

        &:hover {
            transform: rotate(72deg) scale(1.2);
        }
    }

    @include respond-to("small") {
        font-size: font-size("300");
        padding: $small-padding * 0.5 $small-padding;

        .star-symbol {
            font-size: font-size("400");
        }
    }
}
