@use "sass:map";
@use "../abstracts/type" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.challenge-rating {
  display: inline-flex;
  align-items: center;
  font-size: 0.9em;

  .star-symbol {
    color: gold;
    font-size: 1.2em;
    margin-right: 0.2em;
  }
}