@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.challenge-info {
  color: $secondary-color;
  padding: $small-padding;
  background-color: $dark-color;
  border-radius: $small-border-radius;
  min-width: 150px;
  max-width: 80vw;
  font-size: 0.7rem;

  @media (min-width: 756px) {
    min-width: 250px;
    font-size: 1rem;
  }

  .challenge-description p {
    color: $secondary-color;
  }

  .tasks-info p {
    color: $secondary-color;
  }

  .unlock-points-info p {
    color: $secondary-color;
  }
}