// styles/components/_chat.scss
@use "../abstracts" as *;
@use "../atoms/button" as *;
@use "../atoms/input" as *;
@use "../molecules/bubble" as *;

.chat-popup {
    position: fixed;
    bottom: 2rem + $large-padding * 2;
    right: $sidenav-width-closed + $large-padding;
    z-index: z-index("100");
    max-width: 90%;
    width: 300px;
    font-family: font("primary");

    .chat-bubble {
        @include button-primary;
        border-radius: $large-border-radius;
        display: flex;
        align-items: center;
        padding: $small-padding;

        .chat-icon {
            @include button-icon;
            margin-right: $small-padding;
        }

        .chat-text {
            @include material-body2;
        }
    }

    .chat-content {
        background-color: color("background-primary");
        padding-top: $small-padding;
        border-radius: $large-border-radius;
        @include elevation(3);
        width: 100%;
        height: 400px;
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    .close-button {
        @include button-small;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &.expanded {
        .chat-bubble {
            display: none;
        }
        .chat-content {
            display: flex;
            animation: fadeIn 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
    }

    .message-comp {
        max-width: 75%;
        margin-bottom: $medium-padding;
        align-self: flex-start;
        animation: fadeInLeft 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

        &:nth-child(even) {
            align-self: flex-end;
            animation: fadeInRight 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
    }

    .message-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 1rem;
        @include material-body2;
        color: color("secondary");
        width: 100%;
    }

    .message-sender {
        font-weight: font-weight("bold");
        margin-right: $small-margin;
        color: color("primary");
    }

    .message-content {
        @include message-bubble;
        display: inline-block;
        word-break: break-word;
        @include material-body1;
        background-color: color("background-primary");

        &.sent {
            @include message-bubble-sent;
        }

        &.received {
            @include message-bubble-received;
        }
    }

    .input-form {
        display: flex;
        padding: $medium-padding;
        background-color: color("background-primary");
        border-top: 1px solid color("footer-border");
        border-radius: 0 0 $medium-border-radius $medium-border-radius;
        position: sticky;
        bottom: 0;
    }

    .input-field {
        @include input-primary;
        flex-grow: 1;
        height: 40px;
        min-height: 40px;
    }

    .send-button {
        @include button-primary;
        @include material-body2;
        margin-left: $small-padding;
        height: 40px;
    }

    @include respond-to("small") {
        right: 10px;
        width: 280px;

        .chat-bubble {
            padding: 10px 15px;
        }

        .chat-content {
            height: 350px;
        }

        .chat-component {
            height: 100%;
        }

        .message-content,
        .input-field,
        .send-button {
            @include material-body2;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
