// styles/components/_chat.scss
@use "../abstracts" as *;
@use "../atoms/button" as *;
@use "../atoms/input" as *;
@use "../molecules/bubble" as *;

.chat-popup {
    position: fixed;
    bottom: 50px;
    right: 100px;
    with: 50px;
    z-index: z-index("50");
    font-family: font("primary");

    .chat-bubble {
        @include button-primary;
        border-radius: 30px;
        display: flex;
        align-items: center;
        padding: $small-padding;

        .chat-icon {
            font-size: font-size("700");
            margin-right: 15px;
        }

        .chat-text {
            @include material-body2;
        }
    }

    .chat-content {
        background-color: color("surface");
        border-radius: $large-border-radius;
        padding: $small-padding;
        @include elevation(3);
        max-width: 400px;
        display: none;
        position: absolute;
        bottom: 70px;
        right: 0;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .close-button {
        @include button-icon;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    &.expanded {
        .chat-bubble {
            display: none;
        }
        .chat-content {
            display: block;
            animation: fadeIn 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
    }

    .message-comp {
        max-width: 75%;
        margin-bottom: $medium-padding;
        align-self: flex-start;
        animation: fadeInLeft 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

        &:nth-child(even) {
            align-self: flex-end;
            animation: fadeInRight 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
    }

    .message-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 5px;
        @include material-body2;
        color: color("secondary");
        width: 100%;
    }

    .message-sender {
        font-weight: font-weight("bold");
        margin-right: 10px;
        color: color("primary");
    }

    .message-content {
        @include message-bubble;
        background-color: color("secondary-light");
        display: inline-block;
        word-break: break-word;
        @include material-body1;
    }

    .input-form {
        display: flex;
        padding: $medium-padding;
        background-color: color("background-primary");
        border-top: 1px solid color("footer-border");
        border-radius: 0 0 $medium-border-radius $medium-border-radius;
    }

    .input-field {
        @include input-primary;
        flex-grow: 1;
    }

    .send-button {
        @include button-primary;
        @include material-body2;
        margin-left: $small-padding;
    }

    @include respond-to("small") {
        right: 20px;

        .chat-bubble {
            padding: 10px 15px;
        }

        .chat-content {
            max-width: 300px;
            padding: $medium-padding;
        }

        .chat-component {
            height: 400px;
        }

        .message-content,
        .input-field,
        .send-button {
            @include material-body2;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
