@use "../abstracts" as *;

.challenge {
    position: relative;
    margin-top: $large-padding auto;
    padding: $large-padding;
    background-color: material-color("surface");
    border-radius: $large-border-radius;
    box-shadow: 0 4px 6px rgba(color("dark"), 0.1);
}
