.footer {
    font: {
        family: font("footer");
        size: font-size("500");
        weight: font-weight("regular");
    }
    background-color: color("footer-background");
    color: color("secondary");
    padding: $large-padding 0;
    margin-top: $large-padding * 2;
    border-top: 1px solid color("footer-border");
}
