@use "sass:map";
@use "../abstracts/type" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.footer {
    font-family: font("footer");
    font-size: font-size("500");
    font-weight: font-weight("regular");
    background-color: color("footer-background");
    color: color("secondary");
    padding: $large-padding 0;
    margin-top: $large-padding * 2;
    border-top: 1px solid color("footer-border");
}
