@use "../abstracts/variables" as *;

.informative-markdown {


  padding: 2*$large-padding;

  background-image: url("/assets/images/Old_Papier_Sized.png");
  background-size: cover;
  background-repeat: no-repeat;

  .markdown-content {
    text-align: left;
  }
}