@use "../abstracts/colors" as *;

.map-page {
    text-align: center;
}

.map {
    border: 1px solid $dark-color;
    border-radius: 5px;

    .challenge-config {
        z-index: 1;
        background-color: $dark-color;
        border-radius: 1rem;
        padding: 1rem;
    }

    .game-map-svg {
        background-color: $light-color;

        .selected-circle {
            fill: $danger-color;
        }

        .unselected-circle:hover {
            fill: $warning-color;
        }

        .locked-circle {
            fill: $dark-color;
        }

        text {
            pointer-events: none;
        }

        .unselected-circle.unlocked-circle {
            fill: $warning-color;
        }
    }
}
