@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.multiple-choice-circle {
  display: flex;
  position: relative;
  width: 300px;
  height: 300px;

  .multiple-choice-options {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    //top: 10%;


    .multiple-choice-option {
      position: absolute;
      width: 80px;
      height: 80px;
      display: flex;
      font-family: "Monaz 3D Demo", serif;
      font-weight: 400;
      font-size: 1.4rem;

      input {
        display: none;
      }
      label {
        cursor: pointer;
        background-color: $warning-color;
        color: $dark-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
      }
    }

    .multiple-choice-option:nth-child(3) {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0%);
      label {
        background-color: $info-color;
      }
    }

    .multiple-choice-option:nth-child(1) {
      top: 10%;
      left: 0;
      label {
        background-color: $danger-color;
      }
    }

    .multiple-choice-option:nth-child(2) {
      top: 10%;
      right: 0;
      label {
        background-color: $warning-color;
      }
    }
  }


  .question {
    h2 {
      display: none;
    }

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    width: 100%;
    color: $dark-color;
    background-color: transparent;
    border: none;
    z-index: 10;
    pointer-events: none;

    p {
      font-family: "Star Trek Future", serif;
      font-weight: 700;
      font-size: 4rem;
      margin: 0;
      padding: 0;
    }

    .help {
      p {
        font-size: 2rem;
        margin: 0;
        padding: 0;
      }
    }

    .fas {
      font-size: 3em;
      margin: 20px 0;
      color: $dark-color;
    }
  }
}
