@use "../abstracts/colors" as *;

.multiple-choice {
  .question {
    position: relative;
    font-size: 1.5em;
    border: 1px solid $warning-color;
    border-radius: 10px;
    background-color: $light-color;
    padding: 15px;
    margin-top: 3rem;
    box-shadow: 0 4px 8px rgba($warning-color, 0.2);

    h2 {
      font-size: 0.5em;
      text-align: left;
    }

    .fas {
      font-size: 3em;
      margin: 20px 0;
      color: $dark-color;
    }

    .translate-button {
      position: absolute;
      padding: 1rem;
      font-size: 1rem;
      color: #b30000;
      cursor: pointer;
      text-decoration: none;
      right: 1rem;
      top: 1.5rem;
      transform: translateY(-50%);
    }
  }
}
