@use "../abstracts" as *;

.multiple-choice {
    .question {
        position: relative;
        font-size: font-size("400");
        border: 2px solid color("warning");
        border-radius: $small-border-radius;
        padding: $large-padding;
        margin-top: $large-padding * 1.5;
        box-shadow: 0 4px 8px rgba(color("warning"), 0.2);
        background-color: color("background-primary");
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0 6px 12px rgba(color("warning"), 0.3);
        }

        h2 {
            font-size: font-size("700");
            color: color("primary");
            text-align: left;
            margin-bottom: $small-padding;
            font-family: font("heading");
        }

        .fas {
            font-size: font-size("900");
            margin: $large-padding 0;
            color: color("dark");
            transition: color 0.3s ease;

            &:hover {
                color: color("primary");
            }
        }

        .translate-button {
            position: absolute;
            padding: $small-padding;
            font-size: font-size("300");
            color: color("danger");
            cursor: pointer;
            text-decoration: none;
            right: $small-padding;
            top: $small-padding;
            transition:
                filter 0.3s ease,
                transform 0.3s ease;

            &:hover {
                filter: brightness(
                    0.9
                ); // This darkens the color by approximately 10%
                transform: scale(1.1);
            }
        }
    }

    @include respond-to("small") {
        .question {
            padding: $small-padding;
            margin-top: $large-padding;

            h2 {
                font-size: font-size("600");
            }

            .fas {
                font-size: font-size("800");
                margin: $small-padding 0;
            }

            .translate-button {
                font-size: font-size("200");
                right: $small-padding * 0.5;
                top: $small-padding * 0.5;
            }
        }
    }
}
