@use "../abstracts" as *;

.challenge .multiple-choice-options {
    border: 1px solid #ff8c00;
    border-radius: 10px;
    background-color: #fff;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.2);

    .multiple-choice-option {
        display: block;
        padding: 10px;
        margin: 10px 0;
        background-color: #ffedd5;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        user-select: none;
    }

    .multiple-choice-option:hover {
        background-color: #ffc107;
    }

    .multiple-choice-option input[type="radio"] {
        display: none;
    }

    .multiple-choice-option input[type="radio"]:checked + span {
        background-color: #ff5722;
        color: #fff;
        border-radius: 5px;
        padding: 5px;
        display: inline-block;
    }

    .multiple-choice-option span {
        display: inline-block;
        padding: 0.5em 1em;
        border-radius: 5px;
        background-color: #ffedd5;
        transition:
            background-color 0.3s ease,
            color 0.3s ease;
    }
}
