@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.challenge .multiple-choice-options {
    border: 1px solid $warning-color;
    border-radius: $small-border-radius;
    box-shadow: 0 4px 8px rgba($warning-color, 0.2);

    .multiple-choice-option:nth-child(3) {
        span {
            background-color: $info-color;
        }
    }

    .multiple-choice-option:nth-child(1) {
        span {
            background-color: $danger-color;
        }
    }

    .multiple-choice-option:nth-child(2) {
        span {
            background-color: $warning-color;
        }
    }

    .multiple-choice-option {
        display: block;
        padding: $small-padding;
        border-radius: $small-border-radius;
        transition: background-color 0.3s ease;
        user-select: none;
        font-size: 1em;
    }

    .multiple-choice-option span {
        display: inline-block;
        padding: 0.5em 1em;
        border-radius: $small-border-radius;
        background-color: $background-primary;
        transition:
                background-color 0.3s ease,
                color 0.3s ease;
    }
}
