@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

$link-color: $dark-color;
$link-hover-color: $danger-color;
$background-color: $warning-color;

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.3);

  nav {
    background: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    border-radius: 100px 100px 0 0;
    padding: $small-padding;

    a {
      color: $link-color;
      text-decoration: none;
      margin: 0 $small-padding;
      font-weight: 500;
      transition: color 0.3s, transform 0.3s;
      font-size: 1.2rem;
      font-family: Arial, sans-serif;

      &:hover {
        color: $link-hover-color;
        transform: scale(1.1);
      }
    }
  }

  @media (max-width: 768px) {

    nav a {
      font-size: 0.9rem;
      margin: 0 10px;
    }
  }
}
