$link-color: #000; // A bright blue color, like a clear sky
$link-hover-color: #FFFF00; // A dark teal color for contrast on hover
$background-color: #EE6500; // A bright orange color


.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.3);

  nav {
    background: $background-color;
    padding: 0.75rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; // Set the width to 50% of the screen
    margin: 0 auto; // Center the navigation bar
    border-radius: 100px 100px 0 0; // Add rounded borders only to the top

    a {
      color: $link-color;
      text-decoration: none;
      margin: 0 20px;
      font-weight: 500;
      transition: color 0.3s, transform 0.3s;
      font-size: 1.5rem; // Increase the font size
      font-family: Arial, sans-serif; // Set the font family

      &:hover {
        color: $link-hover-color;
        transform: scale(1.1);
      }
    }

    .logo img {
      max-height: 4rem;
    }
  }

  @media (max-width: 768px) {
    nav {
      padding: 0.75rem;
    }

    nav a {
      font-size: 0.9rem;
      margin: 0 10px;
    }
  }
}