@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

@keyframes glowingBorder {
  0% {
    box-shadow: 0 0 5px $danger-color;
  }
  50% {
    box-shadow: 0 0 20px $warning-color;
  }
  100% {
    box-shadow: 0 0 5px $danger-color;
  }
}

.progress-container {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $tertiary-color;
  border-radius: $small-border-radius;
  overflow: hidden;
  height: 2rem;
}

.progress-bar {
  height: 2em;
  line-height: 2rem;
  color: $night-shadow-color;
  text-align: center;
  transition: width 0.4s ease;
  animation: intenseMoveGradient 3s linear infinite, glowingBorder 3s infinite alternate;
  background: linear-gradient(90deg, $danger-color, $warning-color, $success-color, $info-color);
  background-size: 200% 100%;
}
