@use "../abstracts/colors" as *;

.profile-points {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    background-color: $light-color;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px $dark-color;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: $primary-color;
    z-index: 1000;

    .icon {
        margin-right: 5px;
        font-size: 1.2rem;
    }

    .points {
        font-size: 1rem;
    }

    &:hover {
        background-color: $dark-color;
    }
}
