@use "../abstracts" as *;

.profile-points {
    position: fixed;
    top: $small-padding;
    left: $small-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: color("light");
    padding: $small-padding;
    border-radius: $large-border-radius;
    box-shadow: 0 4px 8px rgba(color("dark"), 0.2);
    font-family: font("secondary");
    color: color("primary");
    z-index: 1000;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;

    .icon {
        font-size: font-size("500");
        margin-bottom: $small-padding * 0.5;
    }

    .profile-name {
        font-size: font-size("200");
        margin-bottom: $small-padding * 0.5;
    }

    .points {
        font-size: font-size("400");
        font-weight: font-weight("bold");
    }

    &:hover {
        background-color: color("dark");
        color: color("light");
        transform: translateY(-3px);
    }

    @include respond-to("small") {
        padding: $small-padding * 0.5;

        .icon {
            font-size: font-size("400");
        }

        .profile-name {
            font-size: font-size("100");
        }

        .points {
            font-size: font-size("300");
        }
    }
}
