// components/_profile_points.scss

.profile-points {
    @include card;
    position: fixed;
    top: $small-padding;
    left: $small-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: font("secondary");
    color: color("primary");
    z-index: 1000;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;

    .icon {
        @include text-style("500");
    }
    .profile-name {
        @include text-style("200", "regular", "secondary");
    }
    .points {
        @include text-style("400", "bold", "secondary");
    }

    &:hover {
        background-color: color("dark");
        color: color("light");
        transform: translateY(-3px);

        .profile-name {
            color: color("primary");
        }

        .points {
            color: color("primary");
        }
    }

    @include respond-to("small") {
        padding: $small-padding * 0.5;
        .icon {
            @include text-style("400");
        }
        .profile-name {
            @include text-style("100");
        }
        .points {
            @include text-style("300");
        }
    }
}
