// components/_progress_bar.scss

@include glow-animation("danger", "warning");
@include gradient-animation;

.progress-container {
    margin-top: spacing("xs");
    position: relative;
    width: 100%;
    background-color: color("tertiary");
    border-radius: $small-border-radius;
    overflow: hidden;
    height: 2rem;
    z-index: 10;
}

.progress-bar {
    height: 100%;
    line-height: 2rem;
    @include text-style("300", "bold", "night-shadow");
    text-align: center;
    transition: width 0.4s ease;
    animation:
        moveGradient 3s linear infinite,
        glowing 3s infinite alternate;
    background: linear-gradient(
        90deg,
        color("danger"),
        color("warning"),
        color("success"),
        color("info")
    );
    background-size: 300% 100%;
}

@include respond-to("small") {
    .progress-container {
        height: 1.5rem;
    }
    .progress-bar {
        line-height: 1.5rem;
        @include text-style("200", "bold", "night-shadow");
    }
}
