// components/_rating_stars.scss
@use "../abstracts" as *;
@use "../atoms/text" as *;

.rating-stars {
    display: inline-flex;
    align-items: center;

    .star {
        @include text-style("600");
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        margin-right: 0.25em;

        &.full {
            color: color("star-full");
        }
        &.empty {
            color: color("star-empty");
        }
        &.half {
            position: relative;
            color: color("star-empty");
            &::before {
                content: "★";
                position: absolute;
                left: 0;
                top: 0;
                width: 50%;
                overflow: hidden;
                color: color("star-full");
            }
        }
    }

    &:hover .star {
        color: color("star-empty");
    }
    &:hover .star:hover {
        color: color("star-full");
    }
    &:not(:hover) {
        .star.full,
        .star.half::before {
            color: color("star-full");
        }
    }
}
