@use "../abstracts" as *;

.rating-stars {
    display: inline-flex;
    align-items: center;

    .star {
        font-size: font-size("600");
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &:not(:last-child) {
            margin-right: 0.25em;
        }

        &.full {
            color: color("star-full");
        }

        &.half {
            position: relative;
            color: color("star-empty");

            &::before {
                content: "★";
                position: absolute;
                left: 0;
                top: 0;
                width: 50%;
                overflow: hidden;
                color: color("star-full");
            }
        }

        &.empty {
            color: color("star-empty");
        }
    }
}

.rating-stars:hover {
    .star {
        color: color("star-empty");
    }

    .star:hover {
        color: color("star-full");
    }
}

.rating-stars:not(:hover) {
    .star.full,
    .star.half::before {
        color: color("star-full");
    }
}
