@use "../abstracts/colors" as *;

.result-summary {
    padding: 20px;
    background-color: $background-primary;
    text-align: center;

    h2 {
        font-size: 0.5em;
        text-align: left;
    }
}
