@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.select-language {
  padding: $small-padding;
  border-radius:$small-border-radius;
  border: 1px solid $footer-border-color;
  background-color: $light-color;
  cursor: pointer;
  width: auto;
  display: block;
  margin: 1rem 1rem;
}

.language-flags {
  span {
    margin-right: 0.5rem;
    display: inline-block;
  }
}
