// components/_select_level.scss

.select-level {
    margin: $small-padding;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    select {
        @include select-base;
        @include custom-dropdown-arrow;
        padding-right: calc(#{$large-padding} + 24px);
        font-size: font-size("500");

        option {
            padding: $small-padding;
        }
    }

    @include respond-to("small") {
        select {
            font-size: font-size("400");
            padding: calc(#{$small-padding} * 0.75)
                calc(#{$large-padding} + 24px) calc(#{$small-padding} * 0.75)
                $small-padding;
        }
    }
}
