// components/_select_language.scss
@use "../abstracts" as *;
@use "../atoms/form-controls" as *;

.select-language {
    @include select-base;
    width: auto;
    display: inline-block;
    margin: $small-padding;
    font-size: font-size("400");

    option {
        background-color: color("background-light");
        color: color("text-primary");
    }
}

.language-flags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: $small-padding 0;

    span {
        margin: $small-padding * 0.5;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}

@include respond-to("small") {
    .select-language {
        font-size: font-size("300");
        padding: $small-padding * 0.5;
        margin: $small-padding * 0.5;
    }

    .language-flags span {
        margin: $small-padding * 0.25;
    }
}
