@use "../abstracts" as *;
@use "../atoms/button" as *;

$sidenav-width-closed: 60px;
$sidenav-width-open: 250px;

.sidenav {
    font-family: font("navigation");
    font-size: font-size("500");
    background-color: color("sidenav-background");
    height: 100%;
    overflow-x: hidden;
    padding-top: 100px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: z-index("sidenav");
    transition: width 0.3s ease;
    width: $sidenav-width-closed;

    &.open {
        width: $sidenav-width-open;

        .logo img {
            width: 5rem;
        }

        a .link-text {
            display: inline;
            opacity: 1;
        }
    }

    .logo {
        text-align: center;
        margin-bottom: $large-padding;

        img {
            width: 2rem;
            transition: width 0.3s ease;
        }
    }

    a {
        padding: $small-padding;
        text-decoration: none;
        font-size: font-size("600");
        color: color("sidenav-text");
        display: flex;
        align-items: center;
        transition: 0.3s;

        i {
            margin: 0 16px 0 5px;
        }

        .link-text {
            display: none;
            opacity: 0;
            transition: opacity 0.3s;
        }

        &:hover {
            color: color("primary");
            background-color: rgba(color("primary"), 0.1);
        }
    }
}

.openbtn,
.closebtn {
    position: fixed;
    top: 15px;
    right: 15px;
    padding: $small-padding;
    background-color: color("openbtn-background");
    color: color("openbtn-color");
    transition: background-color 0.3s ease;
    z-index: z-index("sidenav") + 1;

    &:hover {
        background-color: color("primary");
    }
}

.closebtn {
    color: color("closebtn-color");
}

@include respond-to("medium") {
    .openbtn,
    .closebtn {
        @include button-small
    }
    .sidenav .logo img {
        width: 3rem;
    }

    .theme-toggle {
        @include button-small;
    }
}
