@use "sass:map";
@use "../abstracts/type" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.sidenav {

    font-family: map.get($font-families, 'navigation');
    font-size: map.get($font-sizes, '500');
    font-weight: map.get($font-weights, 'regular');

    background-color: $sidenav-background;
    height: 100%;
    overflow-x: hidden;
    padding-top: 100px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;

    &.open {
        .logo img {
            width: 5rem;
        }
    }

    .logo img {
        width: 2rem;
    }

    a {
        padding: 10px 2px;
        text-decoration: none;
        font-size: 25px;
        color: $sidenav-text;
        display: flex;
        align-items: center;
        transition: 0.3s;

        i {
            margin-right: 16px;
            transition: margin-right 0.3s;
        }

        .link-text {
            display: none;
            transition: opacity 0.3s;
            opacity: 0;
        }
    }

    &.open a .link-text {
        display: inline;
        opacity: 1;
    }

    &.open a i {
        margin-right: 1rem;
    }

    button {
        padding: $small-padding 12px;
    }
}

.openbtn {
    position: fixed;
    top: 15px;
    right: 15px;
    color: $openbtn-color;
    padding: 10px 12px;
}

.closebtn {
    position: fixed;
    top: 15px;
    right: 15px;
    color: $closebtn-color;
    padding: 10px 12px;
}
