@use "../abstracts" as *;
@use "../molecules/bubble" as *;

.speech-bubble {
    position: relative;
    max-width: 95%;
    width: max-content;
    text-align: center;
    padding: $large-padding;
    background-color: color("surface");
    border: 2px solid color("border");
    border-radius: $large-border-radius;
    @include elevation(2);
    @include material-body1;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__level-selection {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &__flag-emoji {
        font-size: 1.5em;
        margin-right: 10px;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 60%;
        border-style: solid;
        border-width: 20px 15px 0;
    }

    &::before {
        border-color: color("border") transparent transparent;
        bottom: -22px;
    }

    &::after {
        border-color: color("surface") transparent transparent;
    }

    @include respond-to("small") {
        padding: $small-padding;
        max-width: 100%;
        @include material-body2;

        &::before,
        &::after {
            left: 70%;
        }
    }
}
