p.speech-bubble {
    position: relative;
    max-width: 95%;
    width: max-content;
    text-align: center;
    margin: 40px auto;
    background-color: #fff;
    border: 8px solid #333;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.speech-bubble:before,
p.speech-bubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}

p.speech-bubble:before {
    left: 60%;
    bottom: -50px;
    border: 25px solid;
    border-color: #333 transparent transparent #333;
}

p.speech-bubble:after {
    left: 61%;
    bottom: -30px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
}
