// components/_tour_button.scss
@use "../abstracts" as *;
@use "../atoms/button" as *;

.tour-button {
    position: absolute;
    top: $small-margin;
    z-index: z-index("tour-button");

    &__btn {
    }
}
