@use "sass:map";
@use "../abstracts/type" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

@keyframes hover-animation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.tour-button {
  button {
    position: relative;
    left: 3rem;
    font-size: map.get($font-sizes, '400');
    font-family: map.get($font-families, 'button');
    font-weight: map.get($font-weights, 'regular');
    animation: hover-animation 3s infinite;
  }
}
