// _global.scss
@use "../abstracts" as *;

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 spacing("md");
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.text-center {
    text-align: center;
}

.mb-1 {
    margin-bottom: spacing("sm");
}
.mb-2 {
    margin-bottom: spacing("md");
}
.mb-3 {
    margin-bottom: spacing("lg");
}

.mt-1 {
    margin-top: spacing("sm");
}
.mt-2 {
    margin-top: spacing("md");
}
.mt-3 {
    margin-top: spacing("lg");
}
