// atoms/_card.scss
@use "../abstracts" as *;

.card {
    background-color: color("light");
    border-radius: border-radius("md");
    box-shadow: 0 2px 4px rgba(color("dark"), 0.1);
    overflow: hidden;

    &__header,
    &__body,
    &__footer {
        padding: spacing("md");
    }

    &__header {
        border-bottom: 1px solid color("secondary");
    }

    &__footer {
        border-top: 1px solid color("secondary");
    }
}

%card {
    background-color: color("secondary");
    box-shadow: 0 4px 8px rgba(color("dark"), 0.1);
    border-radius: $large-border-radius;
}
