%table-base {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

%table-header {
    background-color: color("primary");
    color: color("light");
}

%table-cell {
    padding: $small-padding $large-padding;
    text-align: left;
}

%table-row-hover {
    transition: background-color 0.3s ease;
    &:hover {
        background-color: color("hover");
    }
}
