// styles/_layouts.scss
@use "../abstracts" as *;
@use "../atoms/typography" as *;

$top-spacing: rem(80px);

@mixin page-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: $large-padding;
    padding-top: calc(
        #{$large-padding} + #{$top-spacing}
    );
    padding-right: calc(#{$large-padding} + #{$sidenav-width-closed});
    background-color: color("background-primary");
    color: material-color("on-background");
    transition: padding-right 0.3s ease;

    @include respond-to("small") {
        padding: unset;
        padding-top: calc(#{$small-padding} + #{$top-spacing * 0.75});
        padding-right: calc(
            #{$small-padding} + #{$sidenav-width-closed * 0.75}
        ); // Reduced side padding for mobile
    }
}

@mixin standard-page-layout {
    @include page-layout;
    @include centered-content;

    &__content {
        @include card;
        max-width: 800px;
        width: 100%;

        @include respond-to("small") {
            padding: $small-padding;
        }
    }

    h1 {
        @include material-typography("h3");
        color: material-color("primary");
        margin-bottom: $medium-padding;

        @include respond-to("small") {
            @include material-typography("h5");
            margin-bottom: $small-padding;
        }
    }
}

@mixin centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@mixin card {
    background-color: material-color("surface");
    color: material-color("on-surface");
    border-radius: $medium-border-radius;
    padding: $medium-padding;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
